<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="assets/logo.svg" alt="Logo" />
      </a>
    </div>
  </div>
</nav>
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-8 is-variable">
        <div class="column is-two-thirds has-text-left">
          <h1 class="title is-1">Your Company</h1>
          <p class="is-size-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
            eligendi soluta voluptate facere molestiae consequatur.
          </p>
        </div>
        <div class="column is-one-third has-text-left">
          <app-placeholder></app-placeholder>
        </div>
      </div>
    </div>
  </div>
</section>
