extends layout.pug

block append head

block content
  section.bg-image(style="--bg-image: url('./static/background-generic-short.svg')")
    .container
      h1 Applications
      h4 Where our products are used

  section.background1.centered
    .container
      h1 Industries
      p Our products are used in a wide range of different environments and industries.
      .grid.repeat.flex-stretch
        .box
          .img-box
            img(src="./static/applications-industries-mobile.png")
          span.title Mobile Equipment
        .box
          .img-box
            img(src="./static/applications-industries-agricultural.png")
          span.title Agricultural Equipment
        .box
          .img-box
            img(src="./static/applications-industries-marine.png")
          span.title Marine Equipment
        .box
          .img-box
            img(src="./static/applications-industries-railroad.png")
          span.title Railroad Equipment
        .box
          .img-box
            img(src="./static/applications-industries-truck.png")
          span.title Truck Equipment
        .box
          .img-box
            img(src="./static/applications-industries-industrial.png")
          span.title Industrial Equipment
        .box
          .img-box
            img(src="./static/applications-industries-medical.png")
          span.title Medical Equipment
        .box
          .img-box
            img(src="./static/applications-industries-mining.png")
          span.title Mining Equipment
        .box
          .img-box
            img(src="./static/applications-industries-construction.png")
          span.title Construction Equipment
        .box
          .img-box
            img(src="./static/applications-industries-food-processing.png")
          span.title Food Processing Equipment
