.form.application-form
  form(data-localstorage-key="application-message")
    fieldset
      div
        input(type="hidden" name="type" value="application")
        input(type="text" name="name" placeholder="Name" required)
        input(type="email" name="email" placeholder="Email Address" required)
        textarea(name="message" required placeholder="Tell us a little about yourself..." rows="6")
        div.submit
          button(type="submit") Submit
        p.status-message
