extends layout.pug

block content
  section.bg-image(style="--bg-image: url('./static/background-generic-short.svg')")
    .container
      h1 Our capabilties
      h4 Specialized pneumatic & hydraulic cylinders, valves & manifolds
  section.background0.centered
    .container
      p We specialize in designing and manufacturing pneumatic and hydraulic cylinders, valves and manifolds that operate in a wide range of environments across multiple industries. We take pride in designing efficient solutions that allow us to produce the highest quality products at a cost-effective price tag.
      .grid.three.big.flex-stretch
        .box
          span.title.accent Design
          .img-box
            img(src="./static/capabilities-design-icon.png")
        .box
          span.title.accent Prototype
          .img-box
            img(src="./static/capabilities-prototype-icon.png")
        .box
          span.title.accent Manufacture
          .img-box
            img(src="./static/capabilities-manufacture-icon.png")
  section.background1.centered
    .container
      h1 More info
      .grid.repeat.flex-stretch
        .box
          span.title Design
          p Our innovative approach to design gives us a unique ability to solve customer needs and produce effective solutions.
        .box
          span.title Prototype
          p Our quick turnaround prototyping team allows us to ensure every solution is fully optimized before production.
        .box
          span.title Manufacture
          p We are a precision machine facility and full service OEM partner with access to the latest CNC machining technologies.
        .box
          span.title Warranty
          p Each valve and cylinder is pressure-tested and inspected and backed by our standard one-year warranty.
