extends layout.pug

block content
  section.bg-image(style="--bg-image: url('/static/background-generic-short.svg')")
    .container
      h1 Our capabilties
      h4 Specialized pneumatic & hydraulic cylinders, valves & manifolds
