extends layout.pug

block content  
  section.bg-image(style="--bg-image: url('/static/background-generic-short.svg')")
    .container
      h4 Direkt Force is growing, grow with us!
      h1 Join our team
