extends layout.pug

block content  
  section.bg-image(style="--bg-image: url('/static/background-generic-short.svg')")
    .container
      h4 Direkt Force is growing, grow with us!
      h1 Join our team
  section.background0
    .container
      p Direkt Force is a growing manufacturing company specialized in hydraulic & pneumatic controls. We are located in Western New York and work with partners all over the world.
      .grid.repeat
        .box
          span.title.left Our workspace.
          p We strive to keep a small business environment that promotes innovation and collaborative team building.
        .box
          span.title.left Your mindset.
          p If you enjoy challenging yourself and working in a close-knit group, we are always looking to grow our dynamic team. Contact us with your resume or come stop by to say hello.
  section.background1.centered
    .container
      h1 Employee Benefits
      p We offer a wide range of comprehensive benefits:
      .grid.three.flex-stretch
        .box
          .img-box
            img(src="/static/careers-benefits-paid-holidays.png")
          span.title Paid Holidays
        .box
          .img-box
            img(src="/static/careers-benefits-paid-vacation.png")
          span.title Paid Vacation
        .box
          .img-box
            img(src="/static/careers-benefits-medical-insurance.png")
          span.title Medical Insurance
        .box
          .img-box
            img(src="/static/careers-benefits-dental-insurance.png")
          span.title Dental Insurance
        .box
          .img-box
            img(src="/static/careers-benefits-vision-insurance.png")
          span.title Vision Insurance
        .box
          .img-box
            img(src="/static/careers-benefits-flexible-scheduling.png")
          span.title Flexible Scheduling
  section.background0.centered
    .container
      h1 Apply now

      include application-form.pug
