extends layout.pug

block content
  section
    h1 Contact us

  section
    h4 <strong>Direkt Force</strong> is located in Western New York servicing OEM customers worldwide. We focus on designing and manufacturing fluid power products for demanding applications. We are more than happy to discuss custom wishes on the phone, in person or through our contact form.

  section
    h1 Get in touch
    p Leave a message or stop by our office!
