.form.contact-form
  script.
  form(data-localstorage-key="contact-message")
    fieldset
      div
        input(type="hidden" name="type" value="contact")
        input(type="text" name="name" placeholder="Name" required)
        input(type="email" name="email" placeholder="Email Address" required)
        input(type="company" name="company" placeholder="Company Name")
        textarea(name="message" required placeholder="Message" rows="4")
        div.submit
          button(type="submit") Send
        p.status-message
