extends layout.pug

block content
  section.bg-image(style="--bg-image: url('./static/background-generic-short.svg')")
    .container
      h1 Contact us

  section.background1
    .container
      p <strong>Direkt Force</strong> is located in Western New York servicing OEM customers worldwide. We focus on designing and manufacturing fluid power products for demanding applications. We are more than happy to discuss custom wishes on the phone, in person or through our contact form.
  section.background0
    .container
      .grid.three
        .box.right
          span.title Address
          .info
            span PO Box 189
            span 455 Olean Road
            span East Aurora, NY 14052
        .box.right
          span.title Contact
          .info
            span Tel: <a href="tel:1-716-652-3022">+1 (716) 652-3022</a>
            span Fax: <a href="fax:1-716-652-3218">+1 (716) 652-3218</a>
            span Email: <a href="mailto:contact@direktforce.com">contact@direktforce.com</a>
        .box
          img(src="./static/contact-qr.svg" style="width: 200px;")

  section.background1.centered
    .container
      h1 Get in touch
      p Leave a message or stop by our office!

      include contact-form.pug
