header {
  $header-height: 64px;

  // @media (min-width: 768px) {
  //   $header-height: 80px;
  // }

  font-family: "Open Sans",Arial,sans-serif;
  font-weight: 600;
  & > nav {
    &, & > .container {
      display: flex;
      justify-content: space-between;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    .brand {
      display: flex;
      align-items: center;
      & > img, & > svg {
        height: 24px;
        width: 230px;
      }
    }
    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      & > li {
        display: flex;
      }
      & > li > a {
        padding: 0 13px;
        line-height: $header-height;
      }
    }
  }
  .links a {
    transition: opacity .4s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

.toggle {
  @media(min-width: 768px) {
    input[type="checkbox"], & > .icon {
      display: none;
    }
  }

  & > .brand-container {
    position: absolute;
    z-index: 4;
    background: black;
    display: inline-block;
    &, & > .brand {
      height: 64px;
    }
  }
  width: 100%;
  position: relative;
  height: 64px;

  & > ul {
    justify-content: flex-end;
  }

  @media(max-width: 768px) {

    input[type="checkbox"] {
      margin: 0;
      z-index: 3;
      opacity: 0;
      & ~ .icon {
        z-index: 2;
      }
      &, & ~ .icon {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
      & ~ .icon > span {
        display: block;
        position: absolute;
        background: white;
        border-radius: 3px;
        width: 32px;
        height: 4px;
        z-index: 1;
        transform-origin: 4px 0;
        transform: translate(0,-2px);
        &:nth-of-type(1) {
          // transform-origin: 0% 100%;
          top: 16.5%;
        }
        &:nth-of-type(2) {
          top: (16.5) * 3%;
        }
        &:nth-of-type(3) {
          top: (16.5) * 5%;
        }
        transition: all 0.4s ease;
      }
      // requires 2 taps after click away. only 1 when using 'x'
      &:checked:focus ~ .icon {
        & > span:nth-of-type(1) {
          transform: translate(50%, 14px) rotate(45deg) translate(-50%, -2px);
        }
        & > span:nth-of-type(2) {
          transform: rotate(0deg) scale(0.2, 0.2);
          opacity: 0;
        }
        & > span:nth-of-type(3) {
          transform: translate(50%, -13px) rotate(-45deg) translate(-50%, -2px);
        }
      }
      & ~ ul {
        position: absolute;
        top: 0;
        z-index: 0;
        background: black;
        box-shadow: 0px 1px 0px 4px rgba(0,0,0,0.18);
        margin: 0 auto;
        width: 100%;
        left: 0;
        transform: translate(0,-100%);
        transition: transform 0.4s ease;
        flex-direction: column;
        & > li > * {
          flex-grow: 1;
        }
      }
      &:checked:focus ~ ul {
        transform: translate(0,64px);
      }
    }
  }
}
