extends layout.pug

block content
  section.showcase.bg-image.left(style="--bg-image: url('/static/background.png')")
    .container
      h4 We design & manufacture specialized
      h1.accent Hydraulic Cylinders & Valves
      p For the past 15 years, our focus has been developing great OEM relationships by providing quality solutions at cost-effective rates leveraging our innovative designs.
      
      div
        a.button.fancy(href="/contact") Request quote

  section.background1.centered
    .container
      h1 What we do
      p We have over 15 years of experience <strong>designing, prototyping and manufacturing</strong> premium cost-effective hydraulic solutions. We have an experienced team committed to creating longlasting relationships.

      .grid.three
        .box
          img(src="/static/shortcut-applications.png")
          span.title Applications
          p Learn more about the many applications that use our solutions.
          a.button(href="/applications") Learn more

        .box
          img(src="/static/shortcut-products.png")
          span.title Products
          p View our wide range of specialized hydraulic and pneumatic solutions.
          a.button(href="/products") Learn more

        .box
          img(src="/static/shortcut-capabilities.png")
          span.title Capabilities
          p We take pride in our innovative designs and unique manufacturing capabilities.
          a.button(href="/capabilities") Learn more

  section.background0.cols
    .container
      img(src="/static/stainless-steel-render.png")
      div
        h1 What's new...
        p We are excited to announce our new <strong>Stainless Steel Cylinder</strong> series. More information coming soon.


  section.bg-image.centered(style="--bg-image: url('/static/background1.png')")
    .container
      h2 Want to learn more?
      h2.accent Get in touch!
      p Send us an <a href="mailto:contact@direktforce.com">email</a> or call us: <a href="tel:1-716-652-3022">+1 (716) 652-3022</a>.

      p ...or leave a message below.
      include contact-form.pug
