doctype html
head
  title Direkt Force | Specialized in Hydraulics & Pneumatic Equipment
  link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")

  link(rel="preconnect" href="https://fonts.gstatic.com/" crossorigin)

  link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet")
  link(href="https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2" rel="preload" as="font" crossorigin)
  link(href="https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2" rel="preload" as="font" crossorigin)
  link(href="https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2" rel="preload" as="font" crossorigin)
  link(href="https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2" rel="preload" as="font" crossorigin)

  link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet")
  link(href="https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhp.woff2" rel="preload" as="font" crossorigin)

  meta(name="viewport" content="width=device-width, initial-scale=1")
  block head

body
  include header.pug

  main
    block content

  footer
    .container
      span Call Us <a href="tel:1-716-652-3022">+1 (716) 652-3022</a> Copyright © 2019 by Direkt Force LLC. All Rights Reserved. | Web Development by Ksquare
