doctype html
head
  title Direkt Force | Specialized in Hydraulics & Pneumatic Equipment
  link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
  link(href="https://fonts.googleapis.com/css2?family=Open+Sans" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet")


  meta(name="viewport" content="width=device-width, initial-scale=1")
  block head

body
  include header.pug

  main
    block content

  footer
    .container
      span Call Us <a href="tel:1-716-652-3022">+1 (716) 652-3022</a> Copyright © 2019 by Direkt Force LLC. All Rights Reserved. | Web Development by Ksquare
