extends layout.pug

block content
  section.bg-image(style="--bg-image: url('/static/background-generic-short.svg')")
    .container
      h1 Our products
      h4 Specialized hydraulic valves & cylinders
