extends layout.pug

block content
  section.bg-image(style="--bg-image: url('./static/background-generic-short.svg')")
    .container
      h1 Our products
      h4 Specialized hydraulic valves & cylinders
  section.background1.centered
    .container
      h1 Product Types
      p We specialize in designing and manufacturing a wide range of hydraulic valves & cylinders. 
      .grid.repeat.flex-stretch
        .box
          .img-box
            img(src="./static/products-types-welded-cylinder.png")
          span.title Welded Cylinders
        .box
          .img-box
            img(src="./static/products-types-tie-rod.png")
          span.title Tie Rod Cylinders
        .box
          .img-box
            img(src="./static/products-types-threaded-cylinders.png")
          span.title Threaded Cylinders
        .box
          .img-box
            img(src="./static/products-types-telescopic-cylinders.png")
          span.title Telescopic Cylinders
        .box
          .img-box
            img(src="./static/products-types-bolted-cylinders.png")
          span.title Bolted Cylinders
        .box
          .img-box
            img(src="./static/products-types-valves.png")
          span.title Valves
        .box
          .img-box
            img(src="./static/products-types-services.png")
          span.title Services
