@import "variables.scss";

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
  background: black;
  color: white;
  font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
  & > header .brand > svg {
    fill: white;
  }
}

body.light {
  color: black;
  background: white;

  & > header .brand > svg {
    fill: black;
  }
}

.container {
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

main {
  flex-grow: 1;
}

section.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-image: var(--bg-image);
  &.gradient {
    background-image: var(--bg-image), linear-gradient(90deg, #000 0%,rgba(0,0,0,0.22) 100%);
  }
  &.darkened {
    background-color: rgba(0,0,0,0.8);
  }

  text-shadow: 0em 0.1em 0.1em rgba(0,0,0,0.4);
}

section {
  & > .container {
    display: flex;
    flex-direction: column;
  }

  padding: 4% 0;
  h1, h2, h3, h4 {
    text-transform: uppercase;
    margin-bottom: 4%;
  }
  h1 {
    text-shadow: 0em 0.1em 0.1em rgba(0,0,0,0.4);
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3em;
  }
  h2 {
    font-size: 48px;
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    a {
      font-weight: 700;
      text-decoration: none;
      color: inherit;
    }
  }
  h1, h2, h3, h4, p {
    &.accent {
      color: $color-primary;
    }
  }
  &.background0 {
    color: #333;
    background-color: white;
  }
  &.background1 {
    color: #333;
    background-color: $color-background-alt0;
  }
  &.background2 {
    color: #333;
    background-color: $color-background-alt1;
  }
  &.centered > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &.left > .container {
    & > * {
      max-width: 600px;
    }
  }
  &.cols > .container {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    img {
      width: 100%;
    }
  }
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;

  padding: 0.8em 1em;
  font-weight: 600;
  background-color: $color-primary;
  border-radius: 15px;
  white-space: nowrap;
  color: white;
  text-transform: uppercase;
  border: 2px solid white;

  transition: border 300ms ease 0ms;

  &:hover {
    border-color: $color-primary;
  }
}
a.button {
  text-decoration: none;
}

.flex {
  display: flex;
  & > *:not(:first-child) {
    margin-left: 20px;
  }
  &.repeat {
    flex-wrap: wrap;
  }
}

.grid {
  display: grid;
  padding: 4% 0;
  grid-gap: 20px;
  overflow: hidden;
  min-height: 0;

  &.repeat {
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    &.big {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
  &.three {
    grid-template-columns: 1fr 1fr 1fr;

    @media(max-width: 600px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
}


.flex, .grid {
  & > .box {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &.right {
      align-items: start;
    }
    & > span.title {
      text-align: center;
      &.left {
        text-align: left;
        align-self: flex-start;
      }
      margin: 20px 0;
      font-weight: 700;
      font-size: large;
      &.accent {
        text-transform: uppercase;
        color: $color-primary;
      }
    }
    & > p {
      font-size: 14px;
      margin: 0 0 20px 0;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  
    & > img {
      width: 100%;
    }
    .img-box {
      height: 200px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      & > img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    & > .info {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      & > * {
        margin-bottom: 4px;
      }
      a {
        font-weight: 700;
        text-decoration: none;
        color: inherit;
      }
    }
  }
  &.big > .box .img-box {
    height: 300px;
  }
}


.form {
  align-self: stretch;
  margin: 3% 0;
  form {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 18px;

    margin: 0 auto;
    max-width: 600px;

    input, textarea, button {
      font-family: inherit;
      border:none;
      background-image:none;
      background-color: transparent;
      box-shadow: none;
    }

    input, textarea {
      box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.18);
      font-family: inherit;
      background-color: white;
      padding: 1em;
      font-size: 16px;
    }

    textarea {
      resize: vertical;
    }

    .submit {
      padding: 12px 0;
      display: flex;
      flex-direction: row-reverse;
    }

    button {
      cursor: pointer;
      color: white;
      border-radius: 1em;
      padding: 0.6em 0.8em;
      font-size: 18px;
      text-transform: uppercase;
      border: 2px solid white;
      transition: all 300ms ease 0ms;
      &:hover, &:focus {
        color: white;
        background-color: $color-primary;
        border-color: $color-primary;
      }
    }
  }
}

.form.application-form form {
  grid-template-columns: 1fr 1fr;
  textarea, input {
    &[name="message"] {
      grid-column: 1 / 3;
    }
  }
  .submit {
    grid-column: 1 / 3;
  }
}
section.background1 .form {
  button {
    border-color: #333;
    color: #333;
    &:hover, &:focus {
      color: white;
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }
}

section.background0 .form {
  input, button, textarea {
    color: #333;
    background-color: $color-background-alt0;
    // box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.18);
  }

  button {
    &:hover, &:focus {
      color: white;
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }
}

.flex-stretch {
  align-self: stretch;
}
